body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#control-panel {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
#map-container {
  height: 100%;
  width: 100%;
}

#control-panel-left {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 20px;
}

#control-panel-right {
  height: 100%;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
